.contacto {
    text-align: center;
    border: 3px solid #e80101;
    border-radius: 5px;
    box-shadow: 2px 4px 13px 1px #e80101;

    img {
        max-width: 30vw;
        min-height: 30vh;
        border: 5px solid $color;
        border-radius: 10px;
        box-shadow: 5px 5px 30px 1px $color;
        margin: 0;
    }

    article {
        text-align: center;
        padding: 0;
        margin: 1px;
        border-radius: 5px;
        border-top: 3px solid #e80101;
        box-shadow: 2px 4px 13px 1px #e80101;
    }
}